@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .reset{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resetsize{
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
  }
  .layersize{
    min-width: 90%;
    max-width: 90%;
    min-height: 90vh;
    max-height: 90vh;
  }
  .authinput{
   @apply shadow-inner border outline-none rounded-md w-[100%] h-[4vh] p-1
  }
  .btnstyle{
    @apply shadow-md border-2 rounded-md hover:shadow-inner hover:border-4
  }
 
}
