@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kalam", cursive;
    
  }
  .display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resetsize{
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
  }
  .layersize{
    min-width: 90%;
    max-width: 90%;
    min-height: 90vh;
    max-height: 90vh;
  }
  .glassmorph{
    @apply bg-white bg-opacity-10 backdrop-blur-lg backdrop-filter rounded-xl p-10 shadow-lg
  }
  .authinput{
   @apply shadow-inner border outline-none rounded-md w-[100%] h-[4vh] p-1 font-open-sans
  }
  .btnstyle{
    @apply shadow-md border-2 rounded-md bg-white
  }
  .bg-set{
    @apply bg-contain bg-no-repeat bg-center
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 1vh; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d2dfd8; 
    border-radius: 2px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #ccc; 
    border-radius: 5px; 
  }

 



 
}
